@use "../global" as g;

header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: g.$color-white;
    box-shadow: 0 5px 0 0 g.$primary-color;

    .logo_header img {
        max-height: 60px;
        width: auto;
    }

    // Desktop
    .wrapper-header {
        margin: 0 auto;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav .menu {
            display: flex;
            gap: 25px;
            list-style: none;

            li a {
                color: g.$color-black;
                text-decoration: none;
                font-family: g.$font-family-base;
                font-size: 16px;
                font-weight: g.$font-weight-medium;
                transition: color 0.1s;

                &:hover {
                    color: g.$primary-color;
                    text-decoration: underline;
                }
            }
        }

        .btn-recrutement {
            background-color: g.$primary-color;
            color: g.$color-black;
            padding: 5px 15px;
            text-decoration: none;
            font-family: g.$font-family-base;
            font-size: 16px;
            font-weight: g.$font-weight-bold;
            transition: background-color 0.1s;

            &:hover {
                background-color: g.$color-black;
                color: g.$color-white;
            }
        }
    }

    // Mobile
    .menu-toggle {
        display: none;
    }

    .burger {
        display: none;
        width: 30px;
        height: auto;
        cursor: pointer;
        z-index: 101;

        span {
            display: block;
            height: 3.5px;
            background: g.$color-black;
            transition: 0.2s;
            border-radius: 10px;

            &:nth-child(2) {
                margin: 5px 0;
            }
        }
    }

    .menu-toggle:checked~.burger span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .menu-toggle:checked~.burger span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked~.burger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .menu-toggle:checked~.nav-wrapper {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
        display: flex;
    }

    .mobile-header {
        display: none;
        padding: 30px;
        align-items: center;
        justify-content: space-between;

        .burger {
            display: block;
            position: relative;
        }
    }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: g.$primary-color;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        z-index: 100;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        pointer-events: none;

        nav .menu {
            display: flex;
            flex-direction: column;
            text-align: center;
            list-style: none;
            padding: 0;

            li a {
                display: block;
                color: g.$color-black;
                text-decoration: none;
                font-family: g.$font-family-base;
                font-size: 18px;
                font-weight: g.$font-weight-medium;
                width: 400px;
                padding: 15px 0;
                border-radius: 4px;

                &:hover {
                    background-color: g.$color-white;
                }
            }
        }

        .btn-recrutement {
            color: g.$color-black;
            width: 400px;
            text-align: center;
            padding: 15px 0;
            text-decoration: none;
            font-family: g.$font-family-base;
            font-size: 18px;
            border-radius: 4px;
            font-weight: g.$font-weight-bold;

            &:hover {
                background-color: g.$color-white;
            }
        }
    }

    // Responsive
    @media (min-width: 1025px) {
        .wrapper-header {
            display: flex;
        }

        .mobile-header,
        .burger,
        .nav-wrapper {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        .wrapper-header {
            display: none;
        }

        .mobile-header {
            display: flex;
        }

        .burger {
            display: block;
            position: absolute;
            top: 45px;
            right: 30px;
        }

        .nav-wrapper {
            display: flex;
        }
    }
}

// Button "Soutenir"
.btn-soutenir {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    background-color: g.$secondary-color;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    color: g.$color-white;
    font-family: g.$font-family-base;
    font-weight: g.$font-weight-regular;
    text-decoration: none;
    transition: background-color 0.2s ease;

    .icon {
        width: 25px;
        height: 25px;
        position: relative;

        img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.3s ease;
        }

        .heart-full {
            opacity: 0;
        }
    }

    .label {
        opacity: 0;
        max-width: 0;
        transform: translateX(-10px);
        overflow: hidden;
        white-space: nowrap;
        transition: opacity 0.3s ease, max-width 0.4s ease, transform 0.4s ease;
    }

    &:hover {
        gap:10px;
        
        .icon {
            .heart-empty {
                opacity: 0;
            }

            .heart-full {
                opacity: 1;
            }
        }

        .label {
            opacity: 1;
            max-width: 200px;
            transform: translateX(0);
        }
    }
}