@use "../global" as g;

/* Global style */
.btn-load-more {
    border: none;
}

/* Section 1 */
.section-actus {
    padding: 90px 30px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        font-family: g.$font-family-base;

        h2 {
            font-size: g.$font-size-xl;
            font-weight: bold;
            text-align: center;
            max-width: 75%;
        }

        .actus-container {
            display: grid;
            grid-template-columns: repeat(1, 3fr);
            gap: 30px;
            width: 100%;
            max-width: 85%;

            .news-item {
                display: flex;
                flex-direction: column;
                background-color: g.$color-gray;
                border-radius: 10px;
                overflow: hidden;
                padding: 60px;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
                }

                &.no-thumbnail {
                    .news-link {
                        margin-top: 30px;
                    }
                }

                &.has-thumbnail {
                    flex-direction: row;
                    align-items: stretch;
                    gap: 60px;

                    .news-thumbnail {
                        flex: 0 0 auto;
                        width: 380px;
                        height: 380px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .news-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }
                }

                .news-content {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;

                    div {
                        flex-grow: 1;

                        h3 {
                            font-size: g.$font-size-lg;
                            font-weight: g.$font-weight-medium;
                            line-height: normal;

                            a {
                                color: g.$color-black;
                                text-decoration: none;
                                transition: color 0.2s ease;

                                &:hover {
                                    color: g.$primary-color
                                }
                            }
                        }

                        .news-date {
                            color: #666;
                            font-size: g.$font-size-xs;
                            font-weight: g.$font-weight-light;
                            font-style: italic;
                            margin: 10px 0 30px 0;
                        }

                        .news-excerpt {
                            font-size: g.$font-size-sm;
                            font-weight: g.$font-weight-regular;
                            color: g.$color-black;
                        }
                    }

                    .news-link {
                        align-self: flex-start;
                        background-color: g.$primary-color;
                        color: g.$color-black;
                        padding: 10px 20px;
                        font-weight: 600;
                        text-decoration: none;
                        position: relative;

                        &:hover {
                            background-color: g.$primary-contrast-color;
                        }

                        &:after {
                            content: "→";
                            margin-left: 5px;
                            display: inline-block;
                            transition: transform 0.2s ease;
                        }

                        &:hover::after {
                            transform: translateX(3px);
                        }
                    }
                }
            }

            .section-cta {
                text-align: center;
            }
        }
    }
}

// Responsive
@media (max-width: 1024px) {
    .section-actus {
        .container {
            .actus-container {
                .news-item {
                    &.has-thumbnail {
                        flex-direction: column;
                        padding: 30px;
                        gap: 30px;

                        .news-thumbnail {
                            width: 100%;
                            height: auto;

                            img {
                                height: 250px;
                            }
                        }

                        .news-content {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* Section 2 */
.section-magazines {
    display: flex;
    flex-direction: column;
    padding: 90px 30px;
    text-align: center;
    background-color: g.$color-gray;

    h2 {
        font-family: g.$font-family-base;
        font-size: g.$font-size-xl;
        font-weight: bold;
    }

    p {
        font-family: g.$font-family-base;
        font-size: g.$font-size-md;
        font-weight: g.$font-weight-regular;
        margin: 60px 0 30px;
    }

    .magazines-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .magazines-prev,
        .magazines-next {
            position: absolute;
            top: 50%;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: white;
            background-color: g.$primary-color;
            border: 1px solid g.$color-white;
            font-size: 18px;
            cursor: pointer;
            z-index: 1;

            &:hover {
                background-color: g.$primary-contrast-color;
            }

            &.disabled {
                opacity: 0.5;
                background-color: g.$primary-color;
            }
        }

        .magazines-prev {
            left: -1%;
        }

        .magazines-next {
            right: -1%;
        }

    }

    .magazines-container {
        overflow: hidden;
        width: 100%;

        .magazines-slider {
            display: flex;
            width: 100%;
            transition: transform 0.3s ease-in-out;
            gap: 30px;

            .magazine-item {
                max-width: 450px;
                height: auto;
                flex-shrink: 0;

                .magazine-link {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;

                    .magazine-cover,
                    .magazine-placeholder {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                    }
                }

                .magazine-number {
                    position: absolute;
                    top: 50%;
                    font-size: g.$font-size-sm;
                    color: g.$primary-color;
                    font-weight: g.$font-weight-medium;
                }
            }
        }
    }
}

// Responsive
@media (max-width: 1024px) {
    .section-magazines {
        .magazines-wrapper {
            .magazines-container {
                .magazines-slider {
                    .magazine-item {
                        max-width: 250px;
                    }
                }
            }
        }
    }
}

/* Section 3 */
.section-presse {
    display: flex;
    flex-direction: column;
    padding: 90px 30px;
    text-align: center;

    h2 {
        font-family: g.$font-family-base;
        font-size: g.$font-size-xl;
        font-weight: bold;
    }

    p {
        font-family: g.$font-family-base;
        font-size: g.$font-size-md;
        font-weight: g.$font-weight-regular;
        margin: 60px 0 30px;
    }

    .presse-container {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 30px;
        margin-bottom: 60px;

        .presse-item {
            aspect-ratio: 1 / 1;
            width: 440px; // à changer pour le responsive
            height: 440px; // à changer pour le responsive
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
            }

            .article-link {
                .article-title {
                    display: none;
                    font-size: g.$font-size-lg;
                    font-weight: g.$font-weight-medium;
                    line-height: normal;

                    a {
                        color: g.$color-black;
                        text-decoration: none;
                        transition: color 0.2s ease;

                        &:hover {
                            color: g.$primary-color
                        }
                    }
                }
            }
        }
    }
}

// Responsive
@media (max-width: 1064px) {
    .presse-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .presse-container {
        grid-template-columns: 1fr;
    }
}