@use "../global" as g;

/*global styles*/
.btn-infos:hover{
    background-color: g.$primary-color;
}  
.partenaire_item a {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* Section 1 */
.section-numero-urgence {
    padding: 90px 30px;
    box-shadow: 0 5px 0 0 g.$primary-color;

    .container-infos-pratiques {
        display: flex;
        flex-direction: column;
        max-width:75%;
        gap: 30px;
        margin : 0 auto;
        align-items: center;
        justify-content: center;

            h2 {
                font-family: g.$font-family-base;
                font-size: g.$font-size-xl;
                font-weight: g.$font-weight-bold;
                margin-bottom: 25px;
            }
    
        .Paragraphe-numero-durgence {
            font-size: g.$font-size-md;
            font-weight: g.$font-weight-regular;
            display: flex;
            flex-direction: column;
            gap: 30px;

            p {
                text-align: center;
            }
        }
    }
}

// Responsive
@media (max-width: 1024px) {      
    .Paragraphe-numero-durgence{
        font-size: g.$font-size-base;
    }
}


/* Section 2 */
.section-rapport-dactivite{
    padding: 90px 30px;
    box-shadow: 0 5px 0 0 g.$primary-color;

    .container-infos-pratiques{
        display: flex;
        flex-direction: column;
        max-width:75%;
        margin : 0 auto;
        gap: 35px;
        align-items: center;
        justify-content: center;
    
            h2 {
                font-family: g.$font-family-base;
                font-size: g.$font-size-xl;
                font-weight: g.$font-weight-bold;
                margin-bottom:15px;
            }
        .Paragraphe-rapport-dactivite{
                font-size: g.$font-size-md;
                font-weight: g.$font-weight-regular;
                text-align: center;
        } 
    }     
}

// Responsive
@media (max-width: 1024px) {
    .Paragraphe-rapport-dactivite{
        font-size: g.$font-size-base;
    }  
}

/* Section 3 */
.section-nos-financeurs-et-partenaires{
    padding:90px 30px;

    .bloc-nosfinanceurs{
        text-align: center;
        margin-bottom: 90px;

        h2{
            font-family: g.$font-family-base;
            font-size: g.$font-size-xl;
            font-weight: g.$font-weight-bold;
            margin-bottom: 30px;
            
        }
    
            .Paragraphe-nos-financeurs{
                max-width: 75%;
                margin:0 auto;
                margin-bottom: 70px;
                font-size: g.$font-size-md;
                font-weight: g.$font-weight-regular;
            }
                .nosfinanceurs_galerie {
                    display : grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap:15px;
                }

                    .nosfinanceurs_galerie img {
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1/1; 
                    }
                .nosfinanceurs_galerie img:hover {
                    transform: translateY(-5px);
                    box-shadow: 0 4px 12px g.$color-black;
                }
    }
    .bloc-nos-partenaires{
        text-align: center;

            h2{
                font-family: g.$font-family-base;
                font-size: g.$font-size-xl;
                font-weight: g.$font-weight-bold;
                margin-bottom: 30px;
            }
    
                    .Paragraphe-nos-partenaire{
                        font-size: g.$font-size-md;
                        font-weight: g.$font-weight-regular;
                        max-width:75%;
                        margin:0 auto;
                        margin-bottom: 70px;
                    }

                .nos-partenaire_galerie{
                    display : grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap:15px
                }

            .nos-partenaire_galerie img{
                width: 100%;
                height: auto;
                aspect-ratio: 1/1; 
            }
        .nos-partenaire_galerie img:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 12px g.$color-black;
        }
    }
}

// Responsive
@media (max-width: 1024px) {
    .section-nos-financeurs-et-partenaires{
        .bloc-nosfinanceurs{
            .nosfinanceurs_galerie {
                display : grid;
                grid-template-columns: repeat(2, 1fr);
                gap:20px;
            }
                .nosfinanceurs_galerie img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1/1; 
                }
                
             .Paragraphe-nos-financeurs {
                max-width:75%;
                font-size: g.$font-size-base;
            }
        }
        .bloc-nos-partenaires{
            .nos-partenaire_galerie{
                display : grid;
                grid-template-columns: repeat(2, 1fr);
                gap:20px;
            }
                    .nos-partenaire_galerie img{
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1/1; 
                }

            .Paragraphe-nos-partenaire{
                max-width:75%;
                font-size: g.$font-size-base;
            }
        }   
    }
}

@media (max-width: 768px){
    .section-nos-financeurs-et-partenaires{
        .bloc-nosfinanceurs{
            .nosfinanceurs_galerie {
                display : grid;
                grid-template-columns: repeat(1, 1fr);
            }
                .nosfinanceurs_galerie img {
                    width: 100%;
                    height: auto;
                }
            .Paragraphe-nos-financeurs {
                max-width:75%;
                font-size: g.$font-size-base;
            }
        }
        .bloc-nos-partenaires{
            .nos-partenaire_galerie{
                display : grid;
                grid-template-columns: repeat(1, 1fr);
            }
                .nos-partenaire_galerie img{
                    width: 100%;
                    height: auto;
                }
            .Paragraphe-nos-partenaire{
                width:75%;
                font-size: g.$font-size-base;
            }
        }   
    }
}

