@use "../global" as g;


/*style global des bandeau */
.bandeau {
  height: 200px;
  max-width: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/*section 1*/
.who-are-we-section {
  padding: 60px 30px 90px;

  .who-are-we-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .who-are-we-content {
    display: flex;
    justify-content: space-between;
    gap: 195px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap:45px
    }
  }

  .who-are-we-left {
    position: relative;
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    h2 {
      font-size: g.$font-size-xl;
      font-weight: g.$font-weight-bold;
      font-family: g.$font-family-base;
    }

    .who-are-we-paragraph {
      font-size: g.$font-size-md;
      font-weight: g.$font-weight-regular;
      font-family: g.$font-family-base;
    }
  }

  .who-are-we-right {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 100%;
      height: 650px;
      background-color: g.$color-gray;
      border-radius: 20px;
      object-fit: cover;
    }
  }

  .who-are-we-bottom {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .who-are-we-paragraph2 {
      max-width: 75%;
      font-size: g.$font-size-md;
      font-weight: g.$font-weight-regular;
      font-family: g.$font-family-base;
    }
  }
}



/*section 2*/
.section-nos-missions {
  padding: 90px 30px;
 
  .container-nos-missions {
    // Missions Block
    .bloc-nos-missions {
      margin-bottom: 50px;
     
      h2 {
        font-size: g.$font-size-xl;
        font-weight: g.$font-weight-bold;
        font-family: g.$font-family-base;
        margin-bottom: 30px;
        position: relative;
        text-align: center;
      }
    }
    
    // Shared Text Styles
    .paragraphe-nos-missions {
      font-size: g.$font-size-base;
      text-align: center;
      margin : 0 auto;
      max-width: 75%;
    }
    
    
    // Axes d'intervention
    .bloc-axes-intervention {
      h3 {
        font-size: g.$font-size-lg;
        font-weight: g.$font-weight-bold;
        font-family: g.$font-family-base;
        margin-bottom: 30px;
        text-align: left;
      }
     
      // Grille pour les axes d'intervention
      .axes-intervention-liste {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
      }
    }
    
    // Axes Item - Amélioré pour image plus grande avec texte uniquement en bas
    .axe-intervention-item {
      position: relative;
      height: 380px; // Hauteur augmentée pour donner plus d'espace à l'image
      border-radius: 8px;
      overflow: hidden;
        
      .axe-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          // Gradient modifié pour être concentré au bas de l'image
          background: linear-gradient(to bottom, 
            rgba(0,0,0,0) 0%, 
            rgba(0,0,0,0) 50%, 
            rgba(0,0,0,0.7) 80%, 
            rgba(0,0,0,0.9) 100%);
          z-index: 1;
        }
       
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
     
      .axe-contenu {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: 28px;
        z-index: 2;
        color: g.$color-white;
       
        h4 {
          font-size: g.$font-size-lg;
          font-weight: g.$font-weight-medium;
          font-family: g.$font-family-base;
          margin-bottom: 12px;
          text-shadow: 1px 1px 3px g.$color-black;
        }
       
        p,li {
          color: g.$color-white;
          text-shadow: 0 1px 2px g.$color-black;
          text-align: left;
          font-size: g.$font-size-base;
          font-weight: g.$font-weight-regular;
          font-family: g.$font-family-base;
        }
      }
    }
  }
}


/*section 3*/
.objectifs-section{
  padding: 75px 30px 90px;

    h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: g.$font-size-xl;
      font-weight: g.$font-weight-bold;
      font-family: g.$font-family-base;
  }

    .objectifs-paragraph {
        text-align: center;
        max-width: 71%;
        margin: 0 auto 60px;
        font-family: g.$font-family-base;
        font-size: g.$font-size-md;
        font-weight: g.$font-weight-regular;
    }

    .objectifs-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px 40px;

      .objectif-item {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h3 {
          font-size: g.$font-size-lg;
          font-weight: g.$font-weight-bold;
          font-family: g.$font-family-base;
          margin: 0;

          .objectif-numero {
            font-size: g.$font-size-4xl;
            color: g.$primary-contrast-color; 
            font-weight: g.$font-weight-bold;
            font-family: g.$font-family-base;
            display: inline-block;
          }
        }

        .objectif-text p {
          margin: 0;
          font-size: g.$font-size-md;
          font-weight: g.$font-weight-regular;
          font-family: g.$font-family-base;
        }

      // Quinconce : décaler les éléments pairs
      &:nth-child(even) {
        margin-top: 95px;
      }
    }
  }
}


// Section 4*/
.valeurs-section {
  padding: 0px 0px 60px 0px;
     
  h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: g.$font-size-xl;
      font-weight: g.$font-weight-bold;
      font-family: g.$font-family-base;
  }
 
    .valeurs-paragraph {
        text-align: center;
        max-width: 71%;
        margin: 0 auto 60px;
        font-family: g.$font-family-base;
        font-size: g.$font-size-md;
        font-weight: g.$font-weight-regular;
    }
         
    .valeurs-container {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 30px;
      
        .valeurs-list {
            display: flex;
            gap: 20px;
          
            .valeur-item {
                flex: 0 0 33.33%;
                height: auto;
                box-sizing: border-box;
                position: relative;
                padding: 60px 20px 30px;
                background-color: g.$color-gray;
                border-radius: 10px;
                margin-top: 40px;
                animation: slide 11s linear infinite;
              
                h3 {
                    text-align: left;
                    margin-bottom: 15px;
                    font-size: g.$font-size-md;
                    font-weight: g.$font-weight-bold;
                    font-family: g.$font-family-base;
                }
              
                .valeur-text {
                    text-align: left;
                    margin: 0;
                    font-weight: g.$font-weight-light;
                    font-size: g.$font-size-base;
                    font-family: g.$font-family-base;  
                }
              
                img {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    position: absolute;
                    top: -40px;
                    left: 20px;
                    border-radius: 10px;
                }
            }
        }
    }
}

/* Animation modifiée pour parcourir toute la largeur et revenir au début */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-230%); 
  }
}

// Media queries
@media (max-width: 768px) {
  .valeurs-section {
      .valeurs-container {
          .valeurs-list {
              .valeur-item {
                  flex: 0 0 80%;
                 
                  .valeur-text {
                      max-width: 100%;
                  }
              }
          }
      }
  }
}



/*section 5*/
.gens-du-mois-section {
  padding: 90px 30px;
  
  @media (max-width: 1024px) {
    padding: 70px 25px;
  }
  
  @media (max-width: 768px) {
    padding: 50px 20px;
  }
 
  .gens-du-mois-container {
    h2 {
      font-size: g.$font-size-xl;
      font-weight: g.$font-weight-bold;
      text-align: center;
      margin-bottom: 60px;
      color: g.$color-black;
      font-family: g.$font-family-base;
      
      @media (max-width: 768px) {
        margin-bottom: 40px;
        font-size: calc(g.$font-size-xl * 0.9);
      }
    }
   
    .gens-du-mois-blocs {
      display: grid;
      grid-template-columns: 1fr 1.2fr 1fr;
      gap: 80px;
      align-items: start;
      
      @media (max-width: 1024px) {
        gap: 40px;
      }
      
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center; /* Centre les blocs horizontalement */
      }
       
      .bloc {
        &.bloc-gauche,
        &.bloc-droit {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
         
          img {
            width: 425px;
            height: 425px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
            background-color: g.$color-gray;
            
            @media (max-width: 1024px) {
              width: 320px;
              height: 320px;
            }
            
            @media (max-width: 768px) {
              width: 260px;
              height: 260px;
            }
          }
         
          h3 {
            font-size: g.$font-size-lg;
            font-weight: g.$font-weight-bold;
            font-family: g.$font-family-base;
            margin-bottom: 8px;
            color: g.$color-black;
            
            @media (max-width: 768px) {
              font-size: calc(g.$font-size-lg * 0.9);
            }
          }
         
          p {
            font-size: g.$font-size-base;
            color: g.$color-black;
            font-weight: g.$font-weight-regular;
            font-family: g.$font-family-base;
            max-width: 80%;
            
            @media (max-width: 1024px) {
              max-width: 90%;
            }
            
            @media (max-width: 768px) {
              max-width: 100%;
              font-size: calc(g.$font-size-base * 0.95);
            }
          }
        }
        
        &.bloc-gauche {
          @media (max-width: 768px) {
            margin-bottom: 0;
          }
        }
       
        &.bloc-centre {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 120px;
          max-width: 80%;
          margin: 0 auto;
          
          @media (max-width: 1024px) {
            gap: 80px;
            max-width: 90%;
          }
          
          @media (max-width: 768px) {
            gap: 50px;
            max-width: 100%;
            margin: 50px auto;
          }
         
          .wysiwyg {
            background-color: g.$color-gray;
            font-size: g.$font-size-md;
            font-weight: g.$font-weight-regular;
            font-family: g.$font-family-base;
            border-radius: 15px;
            padding: 30px 30px 40px 30px;
            position: relative;
            
            @media (max-width: 1024px) {
              padding: 25px 25px 35px 25px;
            }
            
            @media (max-width: 768px) {
              padding: 20px 20px 30px 20px;
              border-radius: 10px;
              font-size: calc(g.$font-size-md * 0.9);
            }
           
            p {
              font-size: g.$font-size-md;
              color: g.$color-black;
              margin: 0;
              
              @media (max-width: 768px) {
                font-size: calc(g.$font-size-md * 0.9);
              }
            }
           
            .apostrophe {
              position: absolute;
              right: -10px;
              bottom: -46px;
              width: 100px;
              height: 100px;
              
              @media (max-width: 1024px) {
                width: 80px;
                height: 80px;
                bottom: -40px;
              }
              
              @media (max-width: 768px) {
                width: 60px;
                height: 60px;
                bottom: -30px;
                right: -5px;
              }
            }
          }
         
          .button-gens-du-mois {
            display: flex;
            margin: 0 auto;
            
            @media (max-width: 768px) {
              /* Ajustez le bouton si nécessaire */
              transform: scale(0.95);
            }
          }
        }
      }
    }
  }
}

/*section 6*/
.general-presentation-section {
  .general-presentation-container {
    .all-section-office {
      background-color: g.$primary-color;
      padding: 60px 0px;
      margin-bottom: 40px;
   
      .office-inner {
        max-width: 75%;
        margin: 0 auto;
      }
   
      h2 {
        font-size: g.$font-size-xl;
        font-family: g.$font-family-base;
        font-weight: g.$font-weight-bold;
        margin-bottom: 30px;
        text-transform: uppercase;
      }
   
      .general-presentation-paragraph {
        margin-bottom: 40px;
        max-width: 60%;
        font-size: g.$font-size-md;
        font-weight: g.$font-weight-regular;
        font-family: g.$font-family-base;
      }
   
      .presentation-office-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
     
        .presentation-office-item {
          text-align: center;
          padding: 20px 0;
          width: calc((100% - 80px) / 3); // Pour les lignes de 3 éléments (gap de 40px entre chaque élément)
          
          // Style pour les éléments qui doivent s'afficher sur une ligne de 2
          &:nth-child(3n+4) {
            width: calc((100% - 40px) / 2); // Pour les lignes de 2 éléments
          }
          
          &:nth-child(3n+5) {
            width: calc((100% - 40px) / 2); // Pour les lignes de 2 éléments
          }
          
          // Rétablir pour les éléments suivants qui doivent revenir à 3 par ligne
          &:nth-child(5n+6),
          &:nth-child(5n+7),
          &:nth-child(5n+8) {
            width: calc((100% - 80px) / 3);
          }
     
          h3 {
            font-weight: g.$font-weight-bold;
            font-family: g.$font-family-base;
            font-size: g.$font-size-lg;
            margin-bottom: 10px;
          }
     
          .presentation-office-text {
            p {
              margin: 0;
              font-size: g.$font-size-base;
              font-weight: g.$font-weight-regular;
            }
          }
        }
      }
    }
   
    .presentation-administration-list {
      padding: 40px 0px 90px 0px;
      max-width: 75%;
      margin: 0 auto;
     
      h2 {
        font-size: g.$font-size-xl;
        font-family: g.$font-family-base;
        font-weight: g.$font-weight-bold;
        margin-bottom: 20px;
        text-align: right;
        text-transform: uppercase;
      }
     
      .general-presentation-paragraph {
        margin-bottom: 60px;
        text-align: right;
        max-width: 60%;
        margin-left: auto;
        font-size: g.$font-size-md;
        font-weight: g.$font-weight-regular;
        font-family: g.$font-family-base;
      }
     
      .administration-office-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        margin-bottom: 60px;
     
        .administration-item {
          text-align: center;
          padding: 20px 0px;
          width: calc((100% - 80px) / 3); // Pour les lignes de 3 éléments
          
          // Style pour les éléments qui doivent s'afficher sur une ligne de 2
          &:nth-child(3n+4) {
            width: calc((100% - 40px) / 2); // Pour les lignes de 2 éléments
          }
          
          &:nth-child(3n+5) {
            width: calc((100% - 40px) / 2); // Pour les lignes de 2 éléments
          }
          
          // Rétablir pour les éléments suivants qui doivent revenir à 3 par ligne
          &:nth-child(5n+6),
          &:nth-child(5n+7),
          &:nth-child(5n+8) {
            width: calc((100% - 80px) / 3);
          }
     
          h3 {
            font-weight: g.$font-weight-bold;
            font-family: g.$font-family-base;
            font-size: g.$font-size-lg;
            margin-bottom: 10px;
          }
     
          .administration-text {
            p {
              margin: 0;
              font-size: g.$font-size-base;
              font-weight: g.$font-weight-regular;
            }
          }
        }
      }
     
      .button-administration{
        display: flex;
        justify-content: center;
      }
    }
  }
}

// Responsive
@media screen and (max-width: 1024px) {
  .general-presentation-section {
    .general-presentation-container {
      .all-section-office {
        .office-inner {
          max-width: 90%;
        }
        
        .presentation-office-list {
          grid-template-columns: repeat(2, 1fr);
          
          // Remove offset on tablet
          &:has(.presentation-office-item:nth-child(4)) {
            .presentation-office-item:nth-child(4),
            .presentation-office-item:nth-child(5) {
              transform: none;
            }
          }
        }
      }
     
      .presentation-administration-list {
        max-width: 90%;
        
        .administration-office-list {
          grid-template-columns: repeat(2, 1fr);
          
          // Remove offset on tablet
          &:has(.administration-item:nth-child(4)) {
            .administration-item:nth-child(4),
            .administration-item:nth-child(5) {
              transform: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .general-presentation-section {
    .general-presentation-container {
      .all-section-office {
        padding: 30px 20px;
        
        .office-inner {
          max-width: 100%;
        }
        
        .general-presentation-paragraph {
          max-width: 80%;
        }
        
        .presentation-office-list {
          grid-template-columns: 1fr;
        }
      }
     
      .presentation-administration-list {
        max-width: 100%;
        padding: 30px 20px 60px;
        
        .general-presentation-paragraph {
          max-width: 80%;
        }
        
        .administration-office-list {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}


/*section 7*/
.gallery-section {
  padding: 60px 30px 120px;
  
    h2 {
      text-align: center;
      margin-bottom: 60px;
      font-size: g.$font-size-lg;
      font-weight: g.$font-weight-bold;
      font-family: g.$font-family-base;
    }
  
    .gallery-description {
      text-align: center;
      margin-bottom: 30px;
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .gallery-tabs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 175px;
      border-bottom: 1px solid g.$color-gray;
      padding-bottom: 10px;
      margin:58px auto;
      max-width: 82%;
  
      .gallery-tab-button {
        background: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        transition: all 0.3s ease;
  
        &::after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 0;
          height: 3px;
          background-color: g.$color-black;
          transition: all 0.3s ease;
        }
  
        &.active {
          color: g.$color-black;
          font-weight: g.$font-weight-bold;
  
          &::after {
            width: 100%;
          }
        }
      }
    }
  
    .gallery-group {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    
      &.active {
        opacity: 1;
        visibility: visible;
        position: relative;
      }
    }
  
    .gallery-item {
      background-color: g.$color-gray;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  
    /* Groupe 1 */
    #tab-0 {
        .gallery-grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(6, 1fr); // 6 lignes de hauteur égale
          gap: 15px;
          height: auto;
        }
      
        .gallery-item {
          // Colonne 1 — bloc vertical plein
          &:nth-child(1) { grid-column: 1 / 2; grid-row: 1 / 7; }
      
          // Colonne 2
          &:nth-child(2) { grid-column: 2 / 3; grid-row: 1 / 5; } // plus grand bloc (4/6)
          &:nth-child(3) { grid-column: 2 / 3; grid-row: 5 / 7; } // plus petit bloc (2/6)
      
          // Colonne 3 — bloc vertical plein
          &:nth-child(4) { grid-column: 3 / 4; grid-row: 1 / 7; }
        
          // Colonne 3
          &:nth-child(5) { grid-column: 4 / 5; grid-row: 1 / 3; } // plus petit bloc (2/6)
          &:nth-child(6) { grid-column: 4 / 5; grid-row: 3 / 7; } // plus grand bloc (4/6)
        }
      }
  
    /* Groupe 2 */
    #tab-1 {
      .gallery-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr); // 6 lignes de hauteur égale
        gap: 15px;
        height: auto;
      }
    
      .gallery-item {  
        // Colonne 1
        &:nth-child(1) { grid-column: 1 / 2; grid-row: 1 / 5; } // plus grand bloc (4/6)
        &:nth-child(2) { grid-column: 1 / 2; grid-row: 5 / 7; } // plus petit bloc (2/6)
    
        // Colonne 2 — bloc vertical plein
        &:nth-child(3) { grid-column: 2 / 3; grid-row: 1 / 7; }
    
        // Colonne 3
        &:nth-child(4) { grid-column: 3 / 4; grid-row: 1 / 3; } // plus petit bloc (2/6)
        &:nth-child(5) { grid-column: 3 / 4; grid-row: 3 / 7; } // plus grand bloc (4/6)
    
        // Colonne 4 — bloc vertical plein
        &:nth-child(6) { grid-column: 4 / 5; grid-row: 1 / 7; }
      }
    }
    
    /* Groupe 3 */
    #tab-2 {
      .gallery-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr); // 6 lignes de hauteur égale
        gap: 15px;
        height: auto;
      }
    
      .gallery-item {
         // Colonne 1 — bloc vertical plein
         &:nth-child(1) { grid-column: 1 / 2; grid-row: 1 / 7; }
    
        // Colonne 2
        &:nth-child(2) { grid-column: 2 / 3; grid-row: 1 / 3; } // plus petit bloc (2/6)
        &:nth-child(3) { grid-column: 2 / 3; grid-row: 3 / 7; } // plus grand bloc (4/6)
    
        // Colonne 3 — bloc vertical plein
        &:nth-child(4) { grid-column: 3 / 4; grid-row: 1 / 7; }
    
        // Colonne 4
        &:nth-child(5) { grid-column: 4 / 5; grid-row: 1 / 5; } // plus grand bloc (4/6)
        &:nth-child(6) { grid-column: 4 / 5; grid-row: 5 / 7; } // plus petit bloc (2/6) 
      }
    }

    /* Groupe 4 */
    #tab-3 {
      .gallery-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr); // 6 lignes de hauteur égale
        gap: 15px;
        height: auto;
      }
    
      .gallery-item { 
        // Colonne 1
        &:nth-child(1) { grid-column: 1 / 2; grid-row: 1 / 3; } // plus petit bloc (2/6)
        &:nth-child(2) { grid-column: 1 / 2; grid-row: 3 / 7; } // plus grand bloc (4/6)
    
        // Colonne 2 — bloc vertical plein
        &:nth-child(3) { grid-column: 2 / 3; grid-row: 1 / 7; }
    
        // Colonne 3
        &:nth-child(4) { grid-column: 3 / 4; grid-row: 1 / 5; } // plus grand bloc (4/6)
        &:nth-child(5) { grid-column: 3 / 4; grid-row: 5 / 7; } // plus petit bloc (2/6)
    
        // Colonne 4 — bloc vertical plein
        &:nth-child(6) { grid-column: 4 / 5; grid-row: 1 / 7; }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .gallery-section {
      .gallery-tabs {
          gap:75px;  
      }
    }
  }
  @media screen and (max-width: 768px) {
    .gallery-section {
      .gallery-tabs {
          gap:50px;  
      }
    }
  }