// src/scss/global.scss

* {
  outline: 1px solid red;
}

// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #D9D9D9;
$primary-color: #FFCA22;
$secondary-color: #28B04E;
$primary-contrast-color: #FFDD70;

// Font families
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-condensed: 'Helvetica Neue Condensed', Helvetica, Arial, sans-serif;
// Font weights
$font-weight-thin: 100;
$font-weight-ultralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
// Font sizes
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-base: 18px;
$font-size-md: 20px;
$font-size-lg: 26px;
$font-size-xl: 32px;
$font-size-2xl: 42px;
$font-size-4xl: 72px;

// Global styles
.section {
  padding: 0 30px;
}

h1 {
  font-family: $font-family-base;
  font-size: $font-size-4xl;
  font-weight: $font-weight-black;
  text-transform: uppercase;
  line-height: 1;
  height: auto;
  background-color: $primary-color;
  color: $color-white;
  padding-left: 30px;
  display: flex;
  position: relative;
}

// Button "Soutenir"
.btn-soutenir {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  background-color: $secondary-color;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  color: $color-white;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  text-decoration: none;
  transition: background-color 0.2s ease;

  .icon {
      width: 25px;
      height: 25px;
      position: relative;

      img {
          width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          left: 0;
          transition: opacity 0.3s ease;
      }

      .heart-full {
          opacity: 0;
      }
  }

  .label {
      opacity: 0;
      max-width: 0;
      transform: translateX(-10px);
      overflow: hidden;
      white-space: nowrap;
      transition: opacity 0.3s ease, max-width 0.4s ease, transform 0.4s ease;
  }

  &:hover {
      gap:10px;
      
      .icon {
          .heart-empty {
              opacity: 0;
          }

          .heart-full {
              opacity: 1;
          }
      }

      .label {
          opacity: 1;
          max-width: 200px;
          transform: translateX(0);
      }
  }
}

.btn-primary {
  display: inline-block;
  background-color: $primary-color;
  color: $color-black;
  padding: 10px 20px;
  text-decoration: none;
  font-family: $font-family-base;
  font-size: 18px;
  font-weight: $font-weight-regular;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: $primary-contrast-color;
}

.btn-secondary {
  display: inline-block;
  background-color: $color-black;
  color: $color-white;
  padding: 10px 20px;
  text-decoration: none;
  font-family: $font-family-base;
  font-size: 18px;
  font-weight: $font-weight-regular;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: $color-white;
  color: $color-black;
}

// Styles for Elements WYSIWYG Wp
.wysiwyg {
  font-family: $font-family-base;
  font-size: 18px;
  color: $color-black;
  gap: 1em;

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  a {
    color: $primary-color;
    text-decoration: underline;

    &:hover {
      color: $primary-contrast-color;
    }
  }

  ul,
  ol {
    margin-left: 1.5rem;
    margin-bottom: 1em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-bottom: 0.5em;
  }

  blockquote {
    font-style: italic;
    border-left: 4px solid $primary-color;
    padding-left: 1rem;
    margin: 1em 0;
    color: $color-gray;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0 0.5em;
    font-weight: $font-weight-bold;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }
}